html, body, .container {
    height: 100%;
    background-color: #ECF2F6;
}
a {
    color: inherit;
}
a:hover {
    color: #7f8ff4;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uppercase {
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #FE035D;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 12px 36px;
}
.btn--primary:hover {
    background: #FE035D;
}
.btn--primary:active {
    background: #FE035D;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.btn--inside {
    margin-left: -96px;
}
.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

.loginbox{
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(224,237,243);  
    -moz-box-shadow:    3px 3px 5px 6px rgb(224,237,243); 
    box-shadow:         3px 3px 5px 6px rgb(224,237,243);
    height: 300px;
    padding: 50px;
}

.descriptionmanagercode{
    font-size: 12px;
    font-weight: 600;
} 
